@charset "UTF-8";

/* scroll bar config */
& .scrollbar_div{
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 0px 5px 0px;
    transition: all ease-in-out 0.5s;

    & .chat_titles_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        
        & .chat_titles_p{
            font-size: 17px;
            font-weight: 400;
            color: lightgrey;
            transition: all ease-in-out 0.3s;    
        }
        
        & .interactions_container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 20px;
            
            & span{
                font-size: 22px;
                color: white;
                text-shadow: -1px 2px 0px #026194;
                transition: all ease-in-out 0.1s;
            }
            & span:hover{
                transform: scale(1.05);
                color: #199BE2;
                text-shadow: none;
            }
            & .delete_icon:hover{
                color: #fb2828;
            }
        }
    }
    & .chat_titles_container:hover{
        padding: 10px 0px;
        background-image: linear-gradient(to right, transparent, #7cbee164, transparent);
    }
}

/* page */
.sidebar_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 75vh;
    transition: all ease-in-out 0.5s;

    & hr{
        border: none;
        height: 3px;
        width: 60%;
        background-color: lightgrey;
        margin: 30px 10px;
        transition: all ease-in-out 0.5s;
    }

    & .chat_p{
        margin: 0px 0px 20px 0px;
    }

    & .open_sidebar{
        margin-top: 0px;
        padding: 0px;
        list-style-type: none;
        width: 23vw;
        transition: all ease-in-out 0.05s;

        & span{
            margin-right: 5px;
            transition: all ease-in-out 0.5s;
        }
    }

    & ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 0px;
        padding: 0px;
        list-style-type: none;
        width: 5vw;
        transition: all ease-in-out 0.5s;

        & .search_li:hover{
            background-color: transparent;
            transform: none;
        }

        & .exit_li{
            margin-top: 450px;
        }
        & .exit_li:hover{
            background-color: #ff5757;
        }

        & li{
            display: flex;
            padding: 10px;
            cursor: pointer;
            margin: 0px 0px 5px 15px;
            border-radius: 10px;
            font-size: 17px;
            font-weight: 500;
            text-shadow: -1px 2px 0px #1876a9ba;
            transition: all ease-in-out 0.2s;

            & input{
                border: none;
                background-color: transparent;
                border-bottom: 2px solid azure;
                font-weight: 500;
                color: azure;
                transition: all ease-in-out 0.5s;
            }

            & button{
                margin-left: 8px;
                border: none;
                border-radius: 10px;
                padding: 10px;
                font-weight: 500;
                cursor: pointer;
                background-color: #199BE2;
                transition: all 0.2s;
            }
            & button:hover{
                transform: scale(1.05);
            }
        }
        & li:hover{
            background-color: #7cbee164;
            transform: scale(1.02);
        }
    }

    span{
        font-size: 26px;
        color: white;
        text-shadow: -1px 2px 0px #026194;
        transition: all ease-in-out 0.5s;
    }
}

.reset_btt{
    width: 100px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: #001825;
    transition: all 0.2s;
}
.reset_btt:hover{
    transform: scale(1.05);
}