@charset "UTF-8";

.home_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(116, 168, 246), azure, aliceblue, aliceblue, aliceblue, aliceblue);
    transition: all ease-in-out 0.5s;
}

.homepage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: 100%;
    transition: all ease-in-out 0.5s;

    & h1{
        font-size: 40px;
        color: #199BE2;
        font-weight: 400;
        margin-top: 10%;
        transition: all ease-in-out 0.5s;
    }
}

.interect_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 60%;
    transition: all ease-in-out 0.5s;

    & .utils{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 50px;
        border-radius: 100%;
        background-color: #7fbcdd43;
        cursor: pointer;
        transition: all ease-in-out 0.1s;
    
        & span{
            font-weight: 500;
            font-size: 28px;
            color: #199BE2;
        }

        & .is_send{
            font-weight: 600;
            color: black;
        }
    }
    & .utils:hover{
        transform: scale(1.03);
        background-color: rgba(100, 199, 251, 0.263);
    }

    & input{
        height: 50%;
        width: 75%;
        padding: 0px 30px;
        border-radius: 50px;
        border: none;
        font-size: 18px;
        font-weight: 500;
        color: #199BE2;
        background-color: #7fbcdd43;
        transition: all ease-in-out 0.2s;
    }
    & input::placeholder{
        font-size: 18px;
        color: #199BE2;
        font-weight: 500;
    }
    & input:focus{
        outline: none;
    }
}