@charset "UTF-8";

.home_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #74a8f6, #3663a7, #284b7e, #1a3153, #1a3153, #1a3153);
    transition: all ease-in-out 0.5s;
}

.homepage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: 100%;
    transition: all ease-in-out 0.5s;

    & h1{
        font-size: 40px;
        font-weight: 400;
        margin-top: 10%;
        transition: all ease-in-out 0.5s;
    }

}

.coversation_container{
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 65vh;
    width: 90%;
    margin-bottom: 50px;
    border-radius: 0px;
    transition: ease-in-out all 0.5s;

    & .user_name{
        font-weight: bold;
        font-size: 20px;
        margin-right: 60px;
    }

    & .user_message_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 30px 0px 0px;
        padding: 10px 10px;
        min-width: 50%;
        max-width: 50%;
        border-radius: 20px;
        background-color: #a6d5ef43;
        transition: ease-in-out all 0.5s;

        & p{
            text-align: right;
            font-size: 20px;
            color: azure;
            padding: 10px;
            min-width: 90%;
            max-width: 90%;
            word-break: break-all;        /* quebra no meio se precisar */
            overflow-wrap: anywhere;      /* deixa quebrar em qualquer ponto */
            white-space: normal;          /* permite quebra de linha */        
        }
    }

    & .llm_name{
        font-weight: bold;
        font-size: 20px;
        margin: 5% 83% 0px 0px;
    }

    & .llm_message_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 7% 5% 30px;
        padding: 10px 10px;
        min-width: 80%;
        max-width: 80%;
        border-radius: 20px;
        background-color: #a6d5ef43;
        transition: ease-in-out all 0.5s;

        & p{
            text-align: center;
            font-size: 20px;
            color: azure;
            padding: 10px;
            min-width: 90%;
            max-width: 90%;
            word-break: break-all;        /* quebra no meio se precisar */
            overflow-wrap: anywhere;      /* deixa quebrar em qualquer ponto */
            white-space: normal;          /* permite quebra de linha */        
        }
    }
}

.file_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    width: 22%;
    padding: 0px 10px 0px 10px;
    border: 2px solid white;
    border-radius: 20px;

    & img{
        height: 55%;
        width: 10%;
    }

    & p{
        font-size: 18px;
    }

    & span{
        transition: all ease-in-out 0.1s;
    }
    & span:hover{
        color: rgb(246, 102, 102);
        transform: scale(1.10);
        cursor: pointer;
    }
}


.interect_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0px 1px 0px;
    width: 60%;
    margin: 20px 0px 20px 0px;
    transition: all ease-in-out 0.5s;

    & .file_input{
        display: none;
    }

    & .utils{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        width: 55px;
        border-radius: 100%;
        border: none;
        background-color: #a6d5efac;
        cursor: pointer;
        transition: all ease-in-out 0.1s;

        & label{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            border: none;
            cursor: pointer;
        }

        & span{
            font-weight: 500;
            font-size: 28px;
        }

        & .is_send{
            font-weight: 600;
            color: black;
        }
    }
    & .utils:hover{
        transform: scale(1.03);
        background-color: rgba(82, 164, 209, 0.461);
    }

    & input{
        height: 8vh;
        width: 75%;
        padding: 0px 30px;
        border-radius: 50px;
        border: none;
        font-size: 18px;
        font-weight: 500;
        background-color: #a6d5efac;
        transition: all ease-in-out 0.2s;
    }
    & input::placeholder{
        font-size: 18px;
        font-weight: 500;
    }
    & input:focus{
        outline: none;
        background-color: rgba(82, 164, 209, 0.461);
    }
}

.interect_container_in_conversation{
    width: 70%;
}