@charset "UTF-8";

.auth_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(190, 217, 255), white, white, rgb(223, 198, 255));
}

.auth_image_container{
    background-image: url(../../../images/auth_images/register_panel.jpg);
    background-position: right center;
    background-size: cover;
    height: 100%;
    width: 50%;

    & .auth_image_container_filter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba(6, 12, 12, 0.365);
    }

    & h1{
        font-size: 50px;
        font-weight: bolder;
    }

    & h3{
        font-size: 25px;
        margin-bottom: 10px;
    }

    & button{
        height: 55px;
        width: 13vw;
        margin-top: 10px;
        border: none;
        border-radius: 10px;
        font-size: 19px;
        font-weight: 500;
        color: purple;
        cursor: pointer;
        transition: ease-in-out all 0.2s;
    }
    & button:hover{
        transform: scale(1.02);
        background-color: rgb(225, 231, 231);
    }

}

.auth_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    & div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0px 10px;
    }

    & h1{
        font-size: 40px;
        font-weight: bolder;
        color: black;
    }

    & img{
        height: 30px;
        width: 30px;
        margin-left: 15px;
    }

    & p{
        font-size: 22px;
        color: black;
    }

    & p.ask{
        font-weight: 400;
        margin-top: 20px;
        font-size: 18px;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
    }
    & p.ask:hover{
        transform: scale(1.02);
        text-decoration: underline;
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    
    & .input_container{
        border: 2px solid lightgrey;
        border-radius: 20px;
        padding: 0px 15px 0px 15px;
        height: 50px;
        width: 90%;
        margin-bottom: 10px;

        & span{
            color: grey;
        }

        & input{
            border: none;
            background-color: transparent;
            color: grey;
            font-size: 18px;
            height: 100%;
            width: 90%;
            margin-left: 5px;
        }
        input::placeholder{
            color: grey;
        }
        input:focus{
            outline: none;
        }
    }

    & button{
        height: 55px;
        width: 100%;
        margin-top: 10px;
        border: none;
        border-radius: 20px;
        font-size: 19px;
        font-weight: 500;        
        background-color: #736CAF;
        color: azure;
        cursor: pointer;
    }
    button:hover{
        background-color: #6c64b0;
    }
}


/* login */


.login_image_container{
    background-image: url(../../../images/auth_images/login_panel.jpg) !important;
}